<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
{% block main %}{% endblock main %}

{% block footer %}
<footer>
  <h2>Main menu:</h2>
  <ul>
  {% if request.user.is_authenticated %}
    <li>Logged in as {{ request.user.username }}. <a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
    <li><a href="{% url 'bills:list' %}">View bills</a></li>
    <li><a href="{% url 'clients:list' %}">View clients</a></li>
    <li><a href="{% url 'bills:create' %}">Add bill</a></li>
    <li><a href="{% url 'clients:create' %}">Add client</a></li>
  </ul>
</footer>
{% endblock footer %}
</body>

</html>
